---
import Layout from '../layouts/Layout.astro';
import DiaryEntry from '../components/DiaryEntry.jsx';
---
<Layout title="Work Diary">
  <h1 class="text-3xl font-bold text-center my-8">Work Diary</h1>
  <DiaryEntry client:load />
</Layout>