---
const { title } = Astro.props;
const currentDate = new Date().toLocaleDateString('pt-PT', {
	year: 'numeric',
	month: '2-digit',
	day: '2-digit'
})
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>{title} {currentDate}</title>
	<script is:inline>
		const theme = (() => {
			if (localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		})();
		document.documentElement.classList[theme === 'dark' ? 'add' : 'remove']('dark');
	</script>
</head>

<body class="dark:bg-gray-900">
	<slot />
</body>

</html>